# Site settings
title:          OOFTF
description:    "Minimal Jekyll theme for storytellers"
# baseurl:        "/tale"
url:            "https://ooftf.github.io/"

# Author
author:
  name:         ooftf
  url:          https://chester.how
  email:        994749769@qq.com

# Build settings
markdown:       kramdown
include:
  - _pages

# Assets
sass:
  sass_dir:     _sass
  style:        compressed

# Gems
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-seo-tag
  # - jemoji #Uncomment this to allow emoji in your post

# Permalinks
permalink:      /:year-:month-:day/:title
paginate:       5

# Excludes
exclude: [ Gemfile, Gemfile.lock, tale.gemspec ]

# Disqus (Set to your disqus id)
disqus:         jekyll-tale